:root {
  --bg-primary: #242424;
  --bg-secondary: #c2e8f9;
  --bg-accent: #1d9bf0;
  --bg-white: white;
  --bg-danger: #ff4444;

  --text-primary: black;
  --text-secondary: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  background-color: rgb(243, 248, 248);
  grid-template-columns: 3fr 2fr;
  align-items: center;
  min-height: 100dvh;
}

.login_left {
  padding: 20px;
  background-color: var(--bg-primary);
  color: white;
  min-height: 100%;
  text-align: center;
}
.login_left img {
  width: 100%;
  margin-top: 20px;
}

.login_right,.form-register,.confirm-email {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.login_right h1 ,.form-register h1{
  margin-bottom: 15px;
  text-align: center;
}
label {
  font-weight: bold;
}
form {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="email"],
input[type="date"],
textarea {
  width: 100%;
  border: none;
  padding: .6rem 1.2rem;
  font-size: large;
  border-radius: 2px;
  margin: 0.6rem 0 1.2rem;
}
textarea{
  height:6rem;
}
input[type="file"]{
  cursor: pointer;
}
button[type="submit"] {
  color: white;
  font-weight: bold;
  padding: 0.7rem 2rem;
  margin-top: 10px;
  background-color: black;
  border: none;
  border-radius: 3px;
}
button[type="submit"]:hover {
  background-color: #242424;
  cursor: pointer;
}
#confirm-button {
  margin-top: 50px;
}

.btn_signup {
  text-decoration: none;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
.btn_signup:hover {
  color: rgb(46, 43, 43);
}


/* Modal hidden and reveal */
.modal {
  /* margin: 20px auto; */
  width: 100%;
  padding: 40px 20px;
  background-color: var(--bg-primary);
  border-radius: 10px;
  
  
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  color: var(--bg-secondary);
}

.modal h3{
  text-align: center;
  padding: 10px;
}


@media screen and (max-width: 769px ){
    .container{
      grid-template-columns: 1fr;
    
    }
    .login_left img {
      display: none;
    }
    .login_right,.form-register,confirm-email {
      padding: 1rem;
    }

}