*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    display: block;
    width: 100%;
    padding: .6rem 1rem;
    border: none;
    outline: none;
    border-radius: .3rem;
    background: rgb(235, 235, 235);
}
label{
    display: block;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 0px 0px 1px;
}

.container{
    width: 70%;
    margin: 1rem auto;
}
button{
    padding: .6rem 1.2rem;
    border-radius: .3rem;
    background: #4485ff;
    border: none;
    cursor: pointer;
    outline: none;
}