<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome   <%= username %></title>
</head>
<body>
    <div class="container mx-auto">
<h3 class="title">Hi <b> <%= username %></b>, Welcome to Salma Limited!!!</h3>
<p class="text-normal">Please use this <b> <%= code %></b> to verify your account.</p>
<p class="text-normal">Did you know that salma technologies offers the best project management softwares for use by organizitions ranging from startups to mega companies? Try us today!!</p>
    </div>
</body>
</html>